@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flexCenterJustify {
  @include flex-center;
  justify-content: space-between;
}

@mixin flexTotalCenter {
  @include flex-center;
  justify-content: center;
}

$breakpoints: (
  "laptop": 120rem,
  "tablet": 99.1rem,
  "mobile": 56rem,
);

@mixin responsive($breakpoint-name) {
  @if map-has-key($breakpoints, $breakpoint-name) {
    @media (max-width: map-get($breakpoints, $breakpoint-name)) {
      @content;
    }
  } @else {
    @warn "Esse breakpoint que você definiu não existe";
  }
}
